@import "../../_variables.scss";
.leftImg {
  background-image: url("https://secure.i.telegraph.co.uk/multimedia/archive/03597/POTD_chick_3597497k.jpg");
  background-position: center center;
  text-align: center;
}

.landing {
  padding-top: 10%;
  text-align: center;
  & > * {
    margin-bottom: 30px;
  }
}

.link {
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
  &:hover {
    color: darken($secondary, 10%);
  }
}

input,
button {
  margin-bottom: 10px;
}

.form {
  position: relative;
  width: 35%;
  transform: translateX(90%);
}

input[type="text"] {
  border: none;
  background: transparent;
  border-bottom: 2px solid $primary;
  padding: 10px;
  width: 100%;
  outline: none;
  text-align: center;
}

.button {
  width: 50%;
  transform: translateX(50%);
}

p:nth-child(n-1) {
  margin-bottom: 0 !important;
}

img {
  position: absolute;
  margin-bottom: 0 !important;
  bottom: 0;
  left: 50;
  transform: translateX(-50%);
  height: 100px;
}

.larger {
  font-size: 20px;
  padding-bottom: 30px;
}

h1 {
  font-weight: 600;
  color: $primary;
}

// // typeahead
// .dropdown.dropdown-menu {
//   // width: 100% !important;
//   right: 0 !important;
// }

// button.dropdown-item.active {
//   background-color: $primary !important;
// }
