<!-- <div class="container">
  <div class="row" style="height: 300px">

    <div class="col-6 leftImg">
      Zelis da postanes Pausalac?
      <button (click)="postaniPausalac()" class="btn btn-primary">Saznaj kako!</button>
    </div>
    <div class="col-6 rightImg">
      Vec si registrovan, uloguj se!
      <button (click)="ulogujSe()" class="btn btn-primary">Uloguj se!</button>
    </div>
  </div>
</div> -->
<div class="landing">
  <h1>Niste sami u svojoj poslovnoj ideji.</h1>
  <p class="larger">Putem ovog portala možete saznati da li ste kvalifikovani da postanete
    <br /> paušalac i koliki porez možete očekivati. Ukucajte svoju delatnost i kliknite "pretraži"</p>
  <div class="form">
    <div>
      <input type="text" [(ngModel)]="selectedData" placeholder="Unesite delatnost kojom ćete se baviti" [typeahead]="mockData"
        width="50" />
    </div>
    <div class="button">
      <button class="gbtn" (click)="search()">Pretraži</button>
    </div>
  </div>
  <p>Ne prolanazite svoju delatnost?</p>
  <p>Pogledajte listu svih paušalno-oporezivih zanimanja
    <span class="link">ovde</span>
  </p>
  <img src="../../assets/img/ministarstvo-poreska-png.png" alt="ministarstvo poreska" />
</div>