@import "../../_variables.scss";

$boja: #2c3e50;
$gap: 20px;

input[type="text"],
input[type="password"] {
  background: transparent;
  text-align: center;
  border: none;
  border-bottom: 2px solid $boja;
  outline: none;
  padding: 5px;
  margin-bottom: $gap;
  width: 100%;

  &::placeholder {
    opacity: 0.5;
  }
}
