<div class="app-profile">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12"></div>
      <h2 class="col-md-4 col-sm-12 text-center" *ngIf="inspektor">{{preduzetnik}}
        PR</h2>
      <div class="col-md-4 col-sm-12"></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h3>Opština: Vračar</h3>
        <div class="pr-card">
          <div class="pr-card-title">Ime i prezime
            inspektora:</div>
          <div class="pr-card-content"> Pera Perić </div>
        </div>

        <div class="pr-card">
          <div class="pr-card-title"></div>
          <div class="pr-card-content"></div>
        </div>

        <div class="form" style="width:300px">
          <div>
            <input type="text" [(ngModel)]="preduzetnikSearch"
              (keyup)="filter()" placeholder="Pretraga prijava paušalaca">
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 table table-stripped">
        <thead>
          <tr>
            <th>PIB</th>
            <th>Ime</th>
            <th>Delatnost</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let preduzetnik of preduzetnici'>
            <td>{{ preduzetnik.pib }}</td>
            <td>{{ preduzetnik.ime }}</td>
            <td>{{ preduzetnik.delatnost }}</td>
            <td>{{ preduzetnik.status }}</td>

          </tr>
        </tbody>
      </div>
    </div>
  </div>
</div>