@import "../../_variables.scss";

$boja: #2c3e50;
$gap: 20px;

.login {
  text-align: center;
  font-size: 22px;
  padding-top: 10%;
}

h2 {
  color: $boja;
  font-weight: 600;
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
  background: transparent;
  text-align: center;
  border: none;
  border-bottom: 2px solid $boja;
  outline: none;
  padding: 5px;
  margin-bottom: $gap;
  width: 100%;

  &::placeholder {
    opacity: 0.5;
  }
}

.form {
  position: relative;
  width: 35%;
  transform: translateX(90%);
}

button {
  margin-bottom: $gap;
}

.button {
  width: 50%;
  transform: translateX(50%);
}

img {
  position: absolute;
  left: 50;
  bottom: 0;
  transform: translateX(-50%);
  height: 100px;
}

.a {
  text-decoration: underline !important;
  cursor: pointer;
  font-weight: 600;
  color: #2c3e50;

  &:hover {
    color: lighten(#2c3e50, 20%);
  }
}
