<!-- <div class="col-md-4 col-sm-12"></div> -->
<div class="login">
  <h2>PRIJAVA NA PORTAL</h2>
  <div class="form">
    <div>
      <input type="text" placeholder="Korisnicko ime">
    </div>
    <div>
      <input type="password" placeholder="Lozinka">
    </div>
    <div class="button">
      <button class="gbtn gbtn-primary btn-login" (click)="login()">Prijavi me</button>
    </div>
  </div>
  <p>Da li ste zaboravili lozinku? Kliknite
    <a class="a">ovde</a>
  </p>
  <img src="../../assets/img/ministarstvo-poreska-png.png" alt="ministarstvo poreska">
</div>
<!-- <div class="col-md-4 col-sm-12"></div> -->