@import "../../_variables.scss";

.green {
  color: $primary;
  font-weight: bold;
}

.yellow {
  color: #f39c12;
}

.succ {
  text-align: center;
}

.form {
  position: relative;
  width: 35%;
  transform: translateX(90%);
}

input,
button {
  margin-bottom: 10px;
}

input[type="text"],
input[type="number"] {
  border: none;
  background: transparent;
  border-bottom: 2px solid $primary;
  padding: 10px;
  width: 100%;
  outline: none;
  text-align: center;
}

.button {
  width: 50%;
  transform: translateX(50%);
}

h2,
h3 {
  font-weight: 600;
}

.succ {
  margin-bottom: 40px;
  padding-top: 5%;

  @media(min-width: 1920px) {
    // padding-top: 10%;
  }
}

.bold {
  font-weight: 600;
}