<div class="succ">
  <h1 class="green">Vi možete biti paušalac</h1>

  <!-- <i class="fa fa-check-circle green"></i> -->
  <p class="par">Koje su najbitnije
    <span class="green">prednosti</span> kada ste paušalac?</p>

  <i class="fa fa-check-circle green"></i>
  <p class="par">Možete podizati novac sa računa neograniceno i bez pravdanja računa, uz malu ogradu - do 150000rsd dnevno.</p>

  <i class="fa fa-check-circle green"></i>
  <p class="par">Kao preduzetnik paušalac ne morate da vodite knjige.
    <br>Dakle,
    <strong>ne morate da imate knjigovođu koji košta i do 50 evra mesečno</strong>
  </p>

  <p class="par">Koja su najbitnija
    <span class="yellow bold">ograničenja</span> kada ste paušalac?</p>

  <i class="fa fa-exclamation-circle yellow"></i>
  <p>
    Pre svega,
    <strong>promet tokom godine mora da Vam bude manji od 6.000.000 dinara.</strong>
    <br> Promet je zbir vrednosti svih računa koje ste izdali tokom godine, bez obzira da li ste imali
    <br> naplatu po ovim računima ili ne.
  </p>

  <i class="fa fa-exclamation-circle yellow"></i>
  <p>Ukoliko tek počinjete sa razvijanjem posla, potrebno je dobro da procenite
    <strong>da li fiksni iznosi
      <br>poreza predstavljaju opreveliko opterećenje za poslovanje</strong> ili treba da razmišljate o nekoj drugoj formi društva
    i različitom načinu oporezivanja.
  </p>

  <h3>Izračunaj visinu svog poreza:</h3>
  <!-- <div class="form">
    <h4>Unesite delatnost kojom se bavite:</h4>
    <div>
      <input type="text" [(ngModel)]="selectedData" placeholder="Unesite adresu na kojoj ćete registrovati preduzeće" [typeahead]="mockData"
        width="50" />
    </div>
    <div class="button">
      <button class="gbtn" (click)="promeni()">Pretrazi</button>
    </div>
  </div> -->
  <div *ngIf="x" class="form">
    <h4>Unesite adresu na kojoj ćete registrovati preduzeće:</h4>
    <div>
      <input type="text" [(ngModel)]="x.lokacija" placeholder="Opština u kojoj ste prijavljeni" width="50" />
      <input type="text" [(ngModel)]="x.ulica" placeholder="Ulica Vašeg preduzeća" width="50" />
    </div>
    <div class="button">
      <button class="gbtn" (click)="promeni2()">Pretraži</button>
    </div>
  </div>
  <div *ngIf="y" class="form">
    <h4>Unesite Vaš broj godina:</h4>
    <div>
      <input type="number" [(ngModel)]="y.godine" placeholder="Vaš broj godina" width="50" />
    </div>
    <!-- <div>
      <input class="form-control" type="checkbox" [(ngModel)]="y.invaliditet" width="50" /> Invaliditet
    </div> -->
    <div class="button">
      <button class="gbtn" (click)="promeni2()">Pretraži</button>
    </div>
  </div>
  <div *ngIf="xRes">Visina Vašeg poreza bila bi:
    <strong>{{xRes | number:'1.0-0'}}</strong>
  </div>
  <div *ngIf="yRes">Visina Vašeg poreza bila bi: {{yRes | number:'1.0-0'}}</div>
</div>