<div class="app-nav">
  <!-- <div *ngIf="(userLoggedIn | async)" class="ion-android-menu mobile-menu" (click)="toggleClass($event)"></div> -->
  <!-- <img src="../../assets/img/ministarstvo-poreska-png.png" class="nav-logo" alt="ministarstvo-poreska-png"> -->
  <div class="abc">
    <a [routerLink]="'/'">Paušal 3.0</a>
  </div>
  <ul class="nav-left">
    <li>
      <a [routerLinkActive]="'active-nav'">O portalu</a>
    </li>
    <li *ngIf="!(userLoggedIn | async)">
      <a [routerLink]="'/login'" [routerLinkActive]="'active-nav'">Prijava na portal</a>
    </li>
    <li>
      <a [routerLinkActive]="'active-nav'">Pitanja i odgovori</a>
    </li>
    <li>
      <a [routerLinkActive]="'active-nav'">Kontakt</a>
    </li>
    <li *ngIf="userLoggedIn | async">
      <a>Izloguj se</a>
    </li>
  </ul>
</div>