@import "../../_variables.scss";
.app-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-size: 20px;
}

.nav-logo {
  height: 40px;
  img {
    width: 100%;
  }
}

li {
  list-style: none;
  margin-right: 25px;
}

.logout {
  color: $primary;
}

.active-nav {
  border-bottom: 2px solid $primary;
}

a {
  position: relative;
  text-decoration: none;
  color: $secondary;
  transition: color 300ms;
  cursor: pointer;
}

a:hover {
  color: darken($secondary, 10%);
}

a::after {
  content: "";
  height: 2px;
  background: $primary;
  position: absolute;
  width: 100%;
  bottom: -2px;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 300ms;
}

a:hover::after {
  transform: scaleX(1);
}

.nav-left {
  display: flex;
  align-items: center;
}

// .mobile-menu {
//   display: none;
//   font-size: 30px;
//   color: #2b6abd;
//   padding-right: 30px;
//   @media (max-width: $tablet) {
//     display: block !important;
//   }
// }

.abc {
  padding-bottom: 20px;
  font-size: 30px;
  padding-left: 20px;
  font-weight: 600;
  color: $primary;
}
