@import "../_variables.scss";
.app {
  background: url("../assets/img/Background.jpg") center no-repeat;
  background-size: cover;
  display: grid;
  grid-template-areas:
    "header header"
    "aside main";
  grid-template-rows: 60px auto;
  grid-template-columns: 1fr 4fr;
  height: 100%;

  &.logged-out {
    grid-template-columns: 0fr 4fr;
  }
}

app-nav {
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  overflow: visible;
  grid-area: header;
  background: white;
}

app-aside {
  min-height: calc(100vh - 60px);
  grid-area: aside;
}

.main {
  padding: 30px;
  grid-area: main;
  min-height: calc(100vh - 60px);
}

#aside {
  padding-top: 80px;
  @media (max-width: $tablet) {
    position: fixed;
    width: 260px;
    height: calc(100% - 60px);
    bottom: 0;
    transform: translateX(-101%);
    transition: all 0.5s ease-in-out;
  }
  &.active {
    @media (max-width: $tablet) {
      transform: translateX(0);
    }
  }
}
