<div class="app" [ngClass]="(userLoggedIn | async) ? 'logged-in': 'logged-out'">
  <app-nav></app-nav>
  <div id="aside" *ngIf="(userLoggedIn | async) && !isHomeProfile" [ngClass]="(userLoggedIn | async) ? 'active' : ''">
    <app-aside></app-aside>
  </div>
  <div class=" main ">
    <router-outlet></router-outlet>
  </div>
</div>