@import "../../_variables.scss";
div {
  font-size: 20px;
  margin-bottom: 10px;
}

.nes {
  padding: 10%;
}

.button {
  width: 20%;
  float: right;
}

.uplaceno {
  box-shadow: 0px 0px 50px 2px black;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 50px;
  font-size: 50px;
  background: $primary;
  color: white;
  text-align: center;
  font-weight: 600;
  transform: translate(-50%, -50%);

  a {
    font-weight: normal;
  }
}
