<div>
  <div *ngIf="(poreskaObaveza | async) as porOb">
    <div *ngIf="porOb > 0.01" class="nes">
      <!-- <div *ngIf="porOb > 0.01">Veca</div> -->
      <div class="uplatnica">
        <div *ngIf="(poreskaObaveza | async) as poreskaObaveza">Poreska obaveza:
          <strong>{{poreskaObaveza | number:'1.2-2'}}</strong>
        </div>
        <div>Uplatilac:
          <strong>{{preduzetnik}}</strong>
        </div>
        <div>Svrha uplate:
          <strong>Plaćanje poreza i doprinosa</strong>
        </div>
        <div>Primalac:
          <strong>Poreska uprava</strong>
        </div>
        <div>Šifra plaćanja:
          <strong>23</strong>
        </div>
        <div>Valuta:
          <strong>rsd</strong>
        </div>
        <div *ngIf="(poreskaObaveza | async) as poreskaObaveza">Iznos:
          <strong>{{poreskaObaveza | number:'1.2-2'}}</strong>
        </div>
        <div>Račun primaoca:
          <strong>234094696922034</strong>
        </div>
        <div>Model:
          <strong>97</strong>
        </div>
        <div>Poziv na broj:
          <strong>39542866024956</strong>
        </div>
      </div>
      <!-- <button class="gbtn button" (click)="plati()">Plati</button> -->
    </div>
    <div *ngIf="porOb < 0.01" class="uplaceno">
      Placeno
      <div>
        <a [routerLink]="'/profil'">Nazad na profil</a>
      </div>
    </div>
  </div>
</div>