@import "../../_variables.scss";
.pr-card {
  padding: 10px 0;
}

.pr-card-title {
  font-weight: bold;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $secondary;
}

.profil-active {
  color: $primary;
}

.red {
  color: $red;
  font-weight: bold;
}

.green {
  color: $primary;
  font-weight: bold;
}

.porez {
  font-size: 20px;
}

.hide {
  display: none;
}

button {
  width: auto;
}

.centriraj {
  font-weight: 600;
}
