<div class="app-profile">
  <div class="container">
    <div class="row">
      <h1 class="col-md-4 col-sm-12 centriraj green" *ngIf="preduzetnik">{{preduzetnik}}</h1>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h3 class="centriraj">Osnovni podaci</h3>
        <div class="pr-card">
          <div class="pr-card-title">Pun naziv:</div>
          <div class="pr-card-content">{{preduzetnik}}</div>
        </div>
        <div class="pr-card">
          <div class="pr-card-title">Opština</div>
          <div class="pr-card-content">Zvezdara</div>
        </div>
        <div class="pr-card">
          <div class="pr-card-title">Adresa</div>
          <div class="pr-card-content">Velikomoravska 11</div>
        </div>
        <div class="pr-card">
          <div class="pr-card-title">Šifra delatnosti</div>
          <div class="pr-card-content">62.01</div>
        </div>
        <div class="pr-card">
          <div class="pr-card-title">Naziv delatnosti:</div>
          <div class="pr-card-content">Programer</div>
        </div>
        <div class="pr-card">
          <div class="pr-card-title">PIB:</div>
          <div class="pr-card-content">{{PIB}}</div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12">
        <h3 class="centriraj">Poreska kalkulacija</h3>
        <div class="pr-card">
          <div class="pr-card-title">Vaši korektivni faktori:</div>
          <div class="pr-card-content">Poreska osnovica: {{52000 + 52000 * (52000-75000)/75000 | number:'1.0-0'}}</div>
          <div class="pr-card-content">Broj radnika - u prvih 13%</div>
          <div class="pr-card-content">Lokacija - u prvih 20%</div>
          <div class="pr-card-content"></div>
        </div>


        <div class="pr-card">
          <div class="pr-card-title">Poresko dugovanje:</div>
          <div *ngIf="(poreskaObaveza | async) as poreskaObaveza" class="pr-card-content porez" [ngClass]="poreskaObaveza > 0.01 ? 'red' : 'green'">
            {{poreskaObaveza | number:'1.2-2'}}rsd
            <!-- <button class="gbtn" (click)="plati()">Plati</button> -->
            <span style="font-size: 14px; color: #666" *ngIf="poreskaObaveza > 0.01">Rok plaćanja 25.jul 2018</span>
          </div>
          <div class="pr-card-content">Na osnovu faktora poslovanja:
            <div>Lokacija: 2. zona</div>
            <div>Broj radnika: 1</div>
          </div>
        </div>
        <!-- 
    <div *ngIf="(poreskaObaveza | async) as poreskaObaveza">Poreska obaveza: {{poreskaObaveza | number:'1.2-2'}}rsd
      <button class="gbtn gbtn-primary" (click)="plati()">Plati</button>
    </div>
    <div>Poresko rešenje
      <button class="btn btn-primary">Skini</button>
    </div> -->
        <!-- <div>
      Poreska skala
      <progressbar [value]="67"></progressbar>
    </div> -->
        <!-- <div>Bolji ste od 67%
      <button class="btn btn-primary" (click)="showDetails = true">Vidi zasto</button>
    </div>

    <div *ngIf="showDetails">
      <div>Naziv delatnosti: Delatnost</div>
      <div>Uticaj lokacije: 50%</div>
      <div>Broj zaposlenih: 2</div>
    </div>
  </div> -->

      </div>