<ul>
  <li>
    <a [routerLink]="'/profil'" [routerLinkActive]="'aside-active'">Profil</a>
  </li>
  <li>
    <a [routerLinkActive]="'aside-active'">Preuzimanje poreskog rešenja</a>
  </li>
  <li>
    <a [routerLink]="'/plati'" [routerLinkActive]="'aside-active'">Plaćanje poreza</a>
  </li>
  <li>
    <a [routerLink]="'/transactions'" [routerLinkActive]="'aside-active'">Istorija plaćanja</a>
  </li>
  <li>
    <a [routerLinkActive]="'aside-active'">Obaveštenja</a>
  </li>
</ul>