@import "../../_variables.scss";
li {
  list-style: none;
  font-size: 20px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: $secondary;
  cursor: pointer;
  // font-weight: bold;

  &:hover {
    color: darken($secondary, 10%);
  }

  &.aside-active {
    color: $primary;
    &:hover {
      color: darken($primary, 10%);
    }
  }
}
