<div class="container trans">
  <table class="table table-responsive table-striped">
    <thead>
      <tr>
        <th>Datum</th>
        <th>Iznos</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>20.4.2018.</td>
        <td>30000</td>
      </tr>
      <tr>
        <td>20.5.2018.</td>
        <td>30000</td>
      </tr>
      <tr>
        <td>20.6.2018.</td>
        <td>30000</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>
          <strong>Ukupno</strong>
        </td>
        <td>90000</td>
      </tr>
    </tfoot>
  </table>
</div>