/* You can add global styles to this file, and also import other style files */
@import "./_variables.scss";

@font-face {
  font-family: "Gordita";
  src: url("./assets/fonts/Gordita-Light.otf") format("opentype");
}

@font-face {
  font-family: "Gordita";
  font-weight: bold;
  src: url("./assets/fonts/Gordita-Bold.otf") format("opentype");
}

* {
  font-family: "Gordita";
}

.gbtn {
  border-radius: 20px;
  color: white;
  background: $primary;
  border: none;
  font-size: 20px;
  padding: 5px 60px;
  outline: none;
  width: 100%;
  &:hover {
    background: darken($primary, 10%);
  }
}
